@media (max-width: 768px)  { 
      .main-container img {
            width: 100% !important; 
            margin-top: 10px;
            border-radius: 32px;
      }

      .main-container {
            text-align: center;
      }

      .main-container h1 {
            font-size: 67px;
            font-weight: bold;
            text-align: center;
            word-break: break-word; 
            hyphens: auto; 
            margin-bottom: 16px;
      }

      .main-container p {
            font-size: 22px;
      }

      .main-container button {
            max-width: 90%;
            margin: 20px;
      }

      .section2container {
            padding: 0 !important;
            height: 670px !important;
      }

      .section2items {
            padding: 0 !important;
      }

      .section2box {
            display: flex;
            flex-direction: column !important;
      }

      .section5-items {
            display: flex;
            flex-direction: column;
            gap: 30px;
      }

      .section5cardItems {
            width: 100% !important;
      }


      .footerItems {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
      }

      .section1-container {
            height: 800px !important;
      }

      .section1-container h1, h3 {
            text-align: left;
      }
 }    

 @media (min-width: 768px) {
      .section5-items {
            padding: 120px 40px;
      }



      
 }

 @media (max-width: 768px) {
      .section5Text {
            align-items: center;
            justify-content: center;
      }
 }


 @media (max-width: 900px) {
      .section5-items {
            flex-direction: column;
      }
 }

.section5-items {
      gap: 50px;
}



 .section5cardItems {
      background-color: #393E46;
      width: 417px;
      height: 426px;
      padding: 48px;
      border-radius: 48px;
      gap: 15px;
      height: 100%;
 }


 .section1-container {
      height: 613px;
      display: flex;
      align-items: center;

 }



 .section5-text {
      display: flex;
      justify-content: center;
      align-items: center;
 }


.footerLinks {
      text-align: right;
}

footer {
      padding: 48px 40px;
}

footer img {
      width: 20px;
      height: 18px;
      cursor: pointer;
}

.footerLinks {
      cursor: pointer;
}

.footerItems {
      padding: 0 30px;
 ]     

    
